*{
    margin:0;
    padding:0; 
    font-family: 'Georgia', serif;
}
.header{
    background-color: #6B8E23;
    color:#fff;
    font-family: 'Georgia', serif; 
    padding:20px;
    margin-bottom:30px; 
}
h1{
    color:#fff;
    font-size: 40px;
    font-size:2.5em;
    font-family: 'Georgia', serif;
    text-align:center;
    text-transform: uppercase;

}  
h2{
    color:#6B8E23;
    font-size: 40px;
    font-size:2.5em;
    font-family: 'Georgia', serif;
    text-align:center;
    text-transform: uppercase;
    padding:40px;

}  
.top-menu{
    
    width:50%;
    text-align:center;
    margin:auto;
    margin:30px auto;
    padding:20px 0px;
}
.top-menu-a{
    color:#fff;
    font-size:1.5em;
    text-decoration: none;
    margin-right:20px;

}
.top-menu-a:hover{ /* стили для ссыки при наведении на нее */
text-decoration:underline;
}


section{
    margin:40px 0px;
    font-size:1.1em;
}
.about, .meabout{
    padding-left:20px;
    padding-bottom:20px;
    padding-right:20px;
}
.about p,.meabout p{
    font-size:1.2em;
    line-height:2em;
    margin-bottom:20px;
    text-align:justify;/*  выравнивание по ширине */
}
.chips{
    color:#006400;
    font-weight:bold;
}
.meabout{
background-color:#FAFAD2;
padding:30px;
padding-bottom: 20px;
width:60%;
margin:30px auto;
border:1px solid #6B8E23; /* граница блока */
border-radius:8px;/* скругление углов */
font-size: 20px;
}

h3{
    color:#6B8E23;
    font-size: 40px;
    font-size:2.5em;
    font-family: 'Georgia', serif;
    text-align:center;
    text-transform: uppercase;
    margin-bottom:100px;
    
    display: inline-block;
    padding-top: 150px;

} 
.icone {
    display: inline-block; /*не добавляет разрыв строки после элемента, поэтому элемент может сидеть рядом с другими элементами.не добавляет разрыв строки после элемента, поэтому элемент может сидеть рядом с другими элементами.*/
    width:120px;
    margin-left: 750px;
    vertical-align: middle; /*Выравнивает нижний край элемента с нижним краем шрифта родительского элемента. middle. */
    
}

.sam_top{
    position:relative;
}
.kartinka{
    width: 400px;
    padding: 10px;
    margin-left: 450px;
    display: inline-block;
    position:absolute;
    margin-bottom:50px;
    max-height: 550px;
}
.aboutkartinka {
    background-color:#FAFAD2;
    padding-top:20px;
    padding: 20px;
    padding-bottom: 20px;
    width:20%;
    margin:30px auto;
    border:1px solid #6B8E23; /* граница блока */
    border-radius:8px;/* скругление углов */

    font-size: 25px;
    letter-spacing: .05em;
    line-height: 1.5;
    margin-bottom:50px;

    margin-left:1050px;
    
    }

footer {
padding: 2rem;
background: #6B8E23;
color: white;
display: flex;
justify-content: center;
align-items: center;

}